.git
.gitignore
.gitattributes
.env
.env.*
!.env.example
node_modules
vendor
storage/app/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*
tests
.phpunit.result.cache
docker-compose*.yml
README.md
.editorconfig
.styleci.yml
phpunit.xml
*.md
